<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Factura por cobrar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div class="container content">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h3 class="client-name">Tienda regalo de Dios</h3>
            <div class="client-info">
              <p>Código:  AX67509</p>
              <p>NIT: 45326789-9</p>
            </div>
          </div>
        </div>    
      </div>
      <div class="row">
        <div class="col-sm-12">            
          <a href="/lista-facturas" class="btn btn-primary btn-block btn-add-bills"><ion-icon name="add"></ion-icon> Agregar mas facturas</a>
        </div>
      </div>
      <div class="row">         
        <div class="col-sm-12">
          <div class="bill-card">
            <div class="bill-header">
              <h3>Factura No. ABC12389</h3>
              <h3>Codigo: AX67543</h3>
            </div>
            <div class="bill-info">
              <h5>4 / 12 / 2019</h5>
              <h5>Precio: Q. 124.00</h5>
            </div>
            <div class="bill-content">
              <div class="bill-item">
                <p>Coca-Cola 2 Litros</p>
                <p>24 Uni.</p>
              </div>
              <div class="bill-item">
                <p>Coca-Cola 2 Litros</p>
                <p>24 Uni.</p>
              </div>
              <div class="bill-item">
                <p>Coca-Cola 2 Litros</p>
                <p>24 Uni.</p>
              </div>
              <div class="bill-item">
                <p>Coca-Cola 2 Litros</p>
                <p>24 Uni.</p>
              </div>                                                
            </div>
          </div>
        </div>      
                           
      </div>
    </div>
  
    <footer>
      <div class="total">
        Total: Q.6,500
      </div>
      <a href="/lista-facturas" class="btn btn-primary">Cobrar</a>
    </footer>
  </ion-content>
  