<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Agregar facturas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div class="container content">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h3 class="client-name">Tienda regalo de Dios</h3>
            <div class="client-info">
              <p>Código:  AX67509</p>
              <p>NIT: 45326789-9</p>
            </div>
          </div>
        </div>    
      </div>

      <div class="row">         
        <div class="col-sm-12">
          <div class="bill-card">
            <div class="bill-info">
              <h3>Factura No. A2189</h3>
              <h3>Codigo: AX67543</h3>            
            </div>
            <div class="total-select">
              <p class="total">Total: Q. 689.00</p>   
              <button type="button" class="btn btn-link">Seleccionar</button>
            </div>         
          </div>
        </div>  
        <div class="col-sm-12">
          <div class="bill-card bill-selected">
            <div class="bill-info">
              <h3>Factura No. A2189</h3>
              <h3>Codigo: AX67543</h3>            
            </div>
            <div class="total-select">
              <p class="total">Total: Q. 689.00</p>   
              <button type="button" class="btn btn-link">Seleccionar</button>
            </div>         
          </div>
        </div>              
        <div class="col-sm-12">
          <div class="bill-card">
            <div class="bill-info">
              <h3>Factura No. A2189</h3>
              <h3>Codigo: AX67543</h3>            
            </div>
            <div class="total-select">
              <p class="total">Total: Q. 689.00</p>   
              <button type="button" class="btn btn-link">Seleccionar</button>
            </div>         
          </div>
        </div> 
        
      </div>
    </div>
  
    <footer>
      <div class="total">
        Total: Q.6,500
      </div>
      <a href="/lista-facturas" class="btn btn-primary">Cobrar</a>
    </footer>
  </ion-content>
  