ion-title{
    text-align: center;
}

.small-title{
    text-align: center;
    color: grey;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
}
.category-btns{
    .btn{
        text-align: left;
    }
}