<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Factura por entregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container content">
    <div class="row">         
      <div class="col-sm-12">
        <div class="bill-card">
          <h3>Nombre de producto</h3>
          <div class="bill-info">
            <h4>Codigo: AX67543</h4>
            <h5>Precio: Q. 124.00</h5>
          </div>
          <div class="amount-add">
            <p>Cantidad</p>               
            <input type="text" placeholder="12">
            <button type="button" class="btn btn-outline-primary">Agregar</button>
          </div>  
          <div class="total-btns">
            <div class="total">Q. 1,240.00</div>
            <div class="btn-actions">
              <button type="button" class="btn btn-link">Eliminar</button>
              <button type="button" class="btn btn-primary">Entregar</button>
            </div>
          </div>
        </div>
      </div>                 
      <div class="col-sm-12">
        <div class="bill-card">
          <h3>Nombre de producto</h3>
          <div class="bill-info">
            <h4>Codigo: AX67543</h4>
            <h5>Precio: Q. 124.00</h5>
          </div>
          <div class="amount-add">
            <p>Cantidad</p>               
            <input type="text" placeholder="12">
            <button type="button" class="btn btn-outline-primary">Agregar</button>
          </div>  
          <div class="total-btns">
            <div class="total">Q. 1,240.00</div>
            <div class="btn-actions">
              <button type="button" class="btn btn-link">Eliminar</button>
              <button type="button" class="btn btn-primary">Entregar</button>
            </div>
          </div>
        </div>
      </div>     
      <div class="col-sm-12">
          <div class="bill-card">
            <h3>Nombre de producto</h3>
            <div class="bill-info">
              <h4>Codigo: AX67543</h4>
              <h5>Precio: Q. 124.00</h5>
            </div>
            <div class="amount-add">
              <p>Cantidad</p>               
              <input type="text" placeholder="12">
              <button type="button" class="btn btn-outline-primary">Agregar</button>
            </div>  
            <div class="total-btns">
              <div class="total">Q. 1,240.00</div>
              <div class="btn-actions">
                <button type="button" class="btn btn-link">Eliminar</button>
                <button type="button" class="btn btn-primary">Entregar</button>
              </div>
            </div>
          </div>
        </div>                 
        <div class="col-sm-12">
          <div class="bill-card">
            <h3>Nombre de producto</h3>
            <div class="bill-info">
              <h4>Codigo: AX67543</h4>
              <h5>Precio: Q. 124.00</h5>
            </div>
            <div class="amount-add">
              <p>Cantidad</p>               
              <input type="text" placeholder="12">
              <button type="button" class="btn btn-outline-primary">Agregar</button>
            </div>  
            <div class="total-btns">
              <div class="total">Q. 1,240.00</div>
              <div class="btn-actions">
                <button type="button" class="btn btn-link">Eliminar</button>
                <button type="button" class="btn btn-primary">Entregar</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-sm-12">
            <div class="bill-card">
              <h3>Nombre de producto</h3>
              <div class="bill-info">
                <h4>Codigo: AX67543</h4>
                <h5>Precio: Q. 124.00</h5>
              </div>
              <div class="amount-add">
                <p>Cantidad</p>               
                <input type="text" placeholder="12">
                <button type="button" class="btn btn-outline-primary">Agregar</button>
              </div>  
              <div class="total-btns">
                <div class="total">Q. 1,240.00</div>
                <div class="btn-actions">
                  <button type="button" class="btn btn-link">Eliminar</button>
                  <button type="button" class="btn btn-primary">Entregar</button>
                </div>
              </div>
            </div>
          </div>                 
          <div class="col-sm-12">
            <div class="bill-card">
              <h3>Nombre de producto</h3>
              <div class="bill-info">
                <h4>Codigo: AX67543</h4>
                <h5>Precio: Q. 124.00</h5>
              </div>
              <div class="amount-add">
                <p>Cantidad</p>               
                <input type="text" placeholder="12">
                <button type="button" class="btn btn-outline-primary">Agregar</button>
              </div>  
              <div class="total-btns">
                <div class="total">Q. 1,240.00</div>
                <div class="btn-actions">
                  <button type="button" class="btn btn-link">Eliminar</button>
                  <button type="button" class="btn btn-primary">Entregar</button>
                </div>
              </div>
            </div>
          </div>   
                         
    </div>
  </div>

  <footer>
    <div class="total">
      Total: Q.6,500
    </div>
    <div class="btn btn-primary">Entregar</div>
  </footer>
</ion-content>
