<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio - No. de Viaje: <span>{{noViaje}}</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row">
      <ng-template [ngIf]="estaEnRuta" [ngIfElse]="noRutaDiv">
        <div class="col-sm-12 col-md-6 offset-md-3 text-center p-3">
          <ng-template [ngIf]="conectado === true" [ngIfElse]="desconectadoDiv">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
              Conectado
            </div>
          </ng-template>
          <ng-template #desconectadoDiv>
            <div class="alert alert-danger alert-dismissible" role="alerts">
              <button type="button" class="close" data-dismiss="alerts" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
              Sin conexión
            </div>
          </ng-template>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-3 text-center">
          <div class="row">
            <div class="col">
              <a routerLink="/ruta-del-rut" class="btn btn-lg btn-block menu-item item-ruta">Secuencia de ruta</a>
              <a routerLink="/clientes-rutero" class="btn btn-lg btn-block menu-item">Lista de clientes</a>
              <a routerLink="/liquidar" class="btn btn-lg btn-block menu-item">Realizar liquidación</a>
              <div *ngIf="!rutasNoVisitadas && !hayPendientes && !hayRecibos" class="btns-container">
                <a (click)="borrarTodo()" type="button" class=" btn btn-lg btn-block menu-item">Terminar mi ruta</a>
              </div>
              <div *ngIf="!rutasNoVisitadas && !hayPendientes && !hayRecibos" class="btns-container">
                <a (click)="cerrarSesion()" type="button" class=" btn btn-lg btn-block menu-item">Cerrar sesión</a>
              </div>
              <!--<a routerLink="/cuentas" class="btn btn-lg btn-block menu-item">Ver cuentas bancarias</a> -->
              <a *ngIf="hayPendientes" (click)="tratarPendientes()" class="btn btn-lg btn-block menu-item">
                Sincronizar pendientes
              </a>
              <div *ngIf="rutasNoVisitadas || hayPendientes">
                Faltan: {{rutasNoVisitadas}} clientes por visitar
                <br>
                Faltan: {{cantidadPendientes}} tareas por sincronizar
              </div>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template #noRutaDiv>
        <div class="col-sm-12 col-md-6 offset-md-3 text-center p-3">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bienvenido de vuelta</h4>
            <p>¿Desea iniciar tu ruta? Esto descargará toda la información necesaria al teléfono, asegurate de tener
              espacio de almacenamiento.</p>
            <hr>
            <p class="mb-0">
              <button (click)="cargarTodo()" class="btn btn-primary">
                Iniciar
              </button>
            </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

</ion-content>